body {
    background-color: #f5f5f5;
  }


  .Title h2 {
    color: black;
    font-family: Helvetica;
    font-size: 50;
    text-align:center;
    padding-top: 2%;
    
  }
      
  .Title p {
    color:gray;
    font-family: Helvetica;
    font-size: 15;
    text-align: center;
    margin-top: -1.5%;
  }

  .Main {
    text-align: center;
    margin-top: 5%;
  }

  .Main #left {
      color: black;
      font-family: Helvetica;
      font-size: 35;
      display: inline-block;

  }

  .Main #right {
      color: gray;
      font-family: Helvetica;
      font-size: 35;
      display: inline-block;

  }

  .Main input {
    color:maroon;
    font-family: Helvetica;
    font-size: 35;
    overflow:hidden;
    display: inline;
    word-wrap: break-word;
    height: 35;
    resize:none;
  }

  #submit {
    overflow: hidden;
    text-align: center;
    margin: 3% auto;
    font-family: Helvetica;
    background-color: #333;
    color: ghostwhite;
    font-size: 50px;
    padding: 1% 1%;
    width: 300px;
  }

  #correct {
    overflow: hidden;
    text-align: center;
    margin: 3% auto;
    font-family: Helvetica;
    background-color: mediumspringgreen;
    color: ghostwhite;
    font-size: 50px;
    padding: 1% 1%;
    width: 300px;
  }

  #incorrect {
    overflow: hidden;
    text-align: center;
    margin: 3% auto;
    font-family: Helvetica;
    background-color: tomato;
    color: ghostwhite;
    font-size: 50px;
    padding: 1% 1%;
    width: 300px;
  }

  #submit:hover {
    color:#333;
    background-color: rgb(167, 167, 168);
  }

  .videodiv {
    text-align: center;
  }

  .Selections {
    overflow: hidden;
    margin-top: 5%;
    text-align: center;
    
  }

  .Selections a p {
    font-size: 14px;
    display: none;
  }

  .Selections a {
    font-family: Helvetica;
    background-color: #333;
    color: ghostwhite;
    text-decoration: none;
    font-size: 50px;
    padding: 1% 1%;
    margin-right: 3%;
    display: inline-block;
  }

  .Selections a:hover {
    color:#333;
    background-color: rgb(200, 200, 206);
  }

  .Selections a:hover p{
    display:block;
  }